	#content {
	width: 100%;
	margin-bottom: 5px;
}

body 
{
background-image:url('img8.jpg');
background-color:#cccccc;
}

.header {
	font-family: cursive;
	background-color: #34A0A2;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	position: fixed;
	top: 0px;
	bottom: 95%;
	font-size: 20px;
	color: black;
	
}

.product-info {
	margin-top:50px;
	width: 20%;
	margin-right: 5px;
	border: 2px solid black;
	display: inline-block;
	text-align: center;
	padding: 10px 10px 10px 10px;
	vertical-align: top;
	margin-bottom: 5px;
	background-color: #E7E7E7;
	border-radius: 15px;
}

.meta-text {
	color: black;
	white-space: normal;
}

.imgClass {
	width: 100%;
	height: 200px;
}

.body-class {
	height: 100%;
	background-color: #EEEEEE;
}

.footer {
	font-family: cursive;
	width: 100%;
	background-color: #34A0A2;
	clear: both;
	text-align: center;
	bottom: 0px;
	position: fixed;
	top: 97%;
	left: 0px;
	right: 0px;
	margin-top: 5px;
	color: black;
}

.content {
	font-family: serif;
	color : 34A0A2;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top:156px;
	align-center;
}

.input{
display:block;
}

.button{
	width: 95%; height: 2%; position: absolute; vertical-align: middle; text-align: center;
}